@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root {
  --pink: #ff22bb;
  --blue: #00ccff;
  --green: #22e622;

  --btn0: 0;
  --btn1: 1;
  --btn2: 2;

  --dark-blue: #0e1538;
}